*{
    margin: 0px;
    padding: 0px;
}

body{
    background: salmon; 
    font-family: Arial, Helvetica, sans-serif;
}

#container{
    /*width: 70%px;*/
    width: 1100px;
    margin: 0px auto;
    border: 5px black;
}

header{
    background:blueviolet;
    height: 100px;
    width: 100px;
    text-align: center;
    line-height: 50px;


}
